<!doctype html>
<html>

	<head> 
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/public.css" rel="stylesheet">
		<link href="../../fonts/iconfont.css" rel="stylesheet">
		<link href="../../css/view-css/headline/headline-index.css" rel="stylesheet">
	</head>

	<body>
		<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
		    <div class="mui-scroll">
		        <a class="mui-control-item mui-active">
		            推荐
		        </a>
		        <a class="mui-control-item">
		          热点
		        </a>
		        <a class="mui-control-item">
		           北京
		        </a>
		        <a class="mui-control-item">
		           社会
		        </a>
		        <a class="mui-control-item">
		           娱乐
		        </a>
		        <a class="mui-control-item">
		           科技
		        </a>
		            <a class="mui-control-item">
		           科技
		        </a>
		            <a class="mui-control-item">
		           科技
		        </a>
		    </div>
		</div>
		<div class="contetn">
			<div class="item_title">
				<div class="title-text">
					<p class="text">看看现在ix25的故障是多少</p>
					<div>2分钟前</div>
					<div><span class="iconfont icon-yanjing"></span><span>545</span></div>
				</div>
				<div class="img_box"><img src="../../imgs/tt_image.png" alt="" /></div>
				
			</div>
			<ul class="contetn_ul">
				<li>
					<p class="title_box">装修钱不够？10万真的能装好美式三居一室</p>
					<div class="imgs_box">
						<img src="../../imgs/tt_image4.png" alt="" />
						<img src="../../imgs/tt_image1.png" alt="" />
						<img src="../../imgs/tt_image3.png" alt="" />
					</div>
					<div>2分钟前</div>
					<div><span class="iconfont icon-yanjing"></span><span>545</span></div>
				</li>
						<li>
					<p class="title_box">装修钱不够？10万真的能装好美式三居一室</p>
					<div class="imgs_box">
						<img src="../../imgs/tt_image4.png" alt="" />
						<img src="../../imgs/tt_image1.png" alt="" />
						<img src="../../imgs/tt_image3.png" alt="" />
					</div>
					<div>2分钟前</div>
					<div><span class="iconfont icon-yanjing"></span><span>545</span></div>
				</li>
						<li>
					<p class="title_box">装修钱不够？10万真的能装好美式三居一室</p>
					<div class="imgs_box">
						<img src="../../imgs/tt_image4.png" alt="" />
						<img src="../../imgs/tt_image1.png" alt="" />
						<img src="../../imgs/tt_image3.png" alt="" />
					</div>
					<div>2分钟前</div>
					<div><span class="iconfont icon-yanjing"></span><span>545</span></div>
				</li>
			</ul>
			
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
			
		</script>
	</body>

</html>