header{
	background: #E8192D;
	border-bottom: 1px solid #D4D4D4;
	height: 4rem;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 6666;
}

.left-return{
    width: 15%;
    text-align: center;

}

.left-return a{
	line-height: 4.25rem;
	color: #fff;
}

.title{
	width: 70%;
	text-align: center;
}

.title span{
	color: #FFFFFF;
	font-family: "微软雅黑";
	line-height: 4.5rem;
}

.content{
	/*margin-top: 4rem;*/
	width: 100%;
}
.addressinfo{
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	color: #585858;
	position: relative;
	background: #FFFFFF;
}

.address-name{
	margin-left: 12%;
}
.address-phone{
	margin-left: 10%;
}
.addressinfo img{
	position: absolute;
	top: 2.5rem;
	left: 1rem;
	width: 3rem;
	height: 3rem;
}
.address{
	width: 80%;
	margin-top: 1rem;
	margin-left: 12%;
}
.expand{
	position: absolute;
	left: 94%;
	top:4rem;
	font-size: 2.8rem;
	color: #ABACAE;
}

.goods-info{
	margin-top: 1rem;
	width: 100%;
}

.info-top{
	font-family: "微软雅黑";
	widows: 100%;
	border-bottom: 1px solid #EFEFEF;
	background: #FFFFFF;
}
.info-top span{
	line-height: 4rem;
	font-size: 1.8rem;
	margin-left: 5%;
}

.goods{
	width: 100%;
	background: #FFFFFF;
	overflow: hidden;
	border-top:1px solid #EFEFEF;
}

.goods-img{
	width: 35%;
	margin-left: 5%;
	float: left;
}
.goods-img img{
	margin-top: 2rem;
	margin-bottom: 1rem;
	width: 100%;
	height:13rem;
}
.info{
	width: 43%;
	float: left;
	margin-top: 2rem;
	margin-left: 2rem;
}
.info-title{
	font-family: "微软雅黑";
	font-size: 1.4rem;
	color: #585858;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
}
.sku{
	width: 40%;
	margin-left: 2rem;
	margin-top: 0.8rem;
	float: left;
	color: #585858;
	font-size: 1.4rem;
}
.info-price{
	float: left;
	margin-left: 2rem;
	margin-top: 1rem;
}
.price{
	color: #E43318;
}
.num{
	color: #5D5D5D;
	margin-left: 10rem;
	font-size: 1.4rem;
}
.info-subprice{
	margin-left: 11rem;
	margin-top: 2rem;
	font-size: 1.4rem;
	float:left;
}
.peison{
	margin-top: 1rem;
	border-bottom: 1px solid #EFEFEF;
	width: 100%;
	background: #FFFFFF;
	float: left;
	
}

.peison span{
	line-height: 6rem;
}
.peison-psfs{
	margin-left: 2rem;
}

.peison-fs{
	margin-left: 18rem;
}


.youhuiquan{
	margin-top: 1rem;
	border-bottom: 1px solid #EFEFEF;
	width: 100%;
	background: #FFFFFF;
	float: left;
	
}

.youhuiquan span{
	line-height: 6rem;
}
.youhuiquan-title{
	margin-left: 2rem;
}

.youhuiquan-content{
	margin-left: 18rem;
}


.tehui{
	width: 100%;
	display: flex;
	justify-content: space-around;
	background: #FFFFFF;
}
.tehui-title{
	width: 45%;
	text-align: left;
	line-height: 6rem;
	margin-left: 5%;
}
.tehui-content{
	width: 47%;
	text-align: right;
	line-height: 6rem;
	margin-right: 3%;
}

.tehui-content select{
	width: 50%;
	
}

.message{
	background: #FFFFFF;
	margin-top: 2rem;
}
.message span{
	margin-left: 2rem;
	line-height: 6rem;
}
.message input{
	border: 0;
	width: 60%;	
}
.goods-count{
	border-top:1px solid #EFEFEF;
	width: 100%;
	background: #FFFFFF;
	text-align: right;
	margin-bottom: 6rem;
}
.goods-count span{
	line-height: 6rem;
	margin-right: 3rem;
}

.submit-order{
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #EFEFEF;
	height: 6rem;
	background: #FFFFFF;
	/*display: none;*/
}
.price-total{
	/*border: 1px solid #F01C08;*/
	width: 60%;
	float: left;
}
.submit-heji{
	color: #000000;
	font-size: 1.8rem;
	line-height: 6rem;
	margin-left: 2rem;
}
.heji-price{
	color:#E8192D;
	font-size: 1.8rem;
	margin-right: 30%;
}
.order-bt{
	float: left;
	width: 40%;
	/*border: 1px solid #0062CC;*/
}
.order-bt input{
	width: 100%;
	height: 6rem;
	border: 0;
	background: #E8192D;
	color: #FFFFFF;
	font-size: 1.6rem;
	border-radius: 0;
}

.title-fkfs{
	color: #4C4C4C;
	text-align: center;
	line-height: 5rem;
	border-bottom: 0.1rem solid #C6C6C6;
}
.Payment-type{
	margin-top: 2rem;
	color: #4C4C4C;
	position: relative;
}
.Payment-type img{
	width: 5rem;
	height: 5rem;
	margin-right: 2rem;
}


.remainingsum{
	margin-bottom: 3rem;
	margin-left: 2rem;
}

.remainingsum span{
	position: absolute;
	top: 1.5rem;
}

.remainingsum input{
	position: absolute;
	top: 1.8rem;
	right: 1.8rem;
}

.Alipay{
	margin-bottom: 3rem;
	margin-left: 2rem;
}

.Alipay span{
	position: absolute;
	top: 9.7rem;
}

.Alipay input{
	position: absolute;
	top: 10rem;
	right: 1.8rem;
}

.Wechat{
	margin-bottom: 3rem;
	margin-left: 2rem;
}

.Wechat span{
	position: absolute;
	top: 18rem;
}

.Wechat input{
	position: absolute;
	top: 18.3rem;
	right: 1.8rem;
}

.bt-fk {
	width: 90%;
	text-align: center;
	margin-bottom: 0.5rem;
}
.bt-fk button{
	width: 100%;
	background: #E8192D;
	color: #FFFFFF;
	border-radius: 0;
	border: 0;
	margin-left: 5%;
	line-height: 3rem;
}

.balance{
	/*display: none;*/
}

