.address-add{
	color: #FFFFFF;
	position: absolute;
	right: 2rem;
	top: 1rem;
}
.content{
	width: 100%;
	background: #FFFFFF;
}

.address{
	color: #616161;
	font-size: 1.5rem;
}

.content-address{
	width: 100%;
	height: 15rem;
	/*margin-left: 5%;*/
	border-bottom: 0.5rem solid #E5E5E5;
	position: relative;
}
.address-name{
	position: absolute;
	top: 2rem;
	left: 2rem;
}
.address-phone{
	position: absolute;
	top: 2rem;
	right: 2rem;
}
.address-address{
	position: absolute;
	top: 5rem;
	left: 2rem;
	right: 2rem;
}
.address-radio{
	color: #FF0000;
}

.address-check{
	position: absolute;
	top: 11rem;
	left: 2rem;
}

.red{
	color: #FF0000;
}

.address-edit{
	position: absolute;
	top: 11rem;
	right: 10rem;

}
.address-edit img{
	width: 2rem;
	height: 2rem;
	display: block;
	float: left;
	margin-right: 0.5rem;
}
.address-edit span{
	display:block;
	float: left;
	margin-top: 0.1rem;
}

.address-del{
	position: absolute;
	top: 11rem;
	right: 2rem;

}
.address-del img{
	width: 2rem;
	height: 2rem;
	display: block;
	float: left;
	margin-right: 0.5rem;
}
.address-del span{
	display:block;
	float: left;
	margin-top: 0.1rem;
}
