<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
	</head>
	<style type="text/css">
		body{
			background: #FFFFFF;
		}
		.mui-content{
			background: #FFFFFF;
		}
		.info{
			width: 100%;
			margin-bottom: 1rem;
			border-bottom: 1px dashed #DDDDDD;
			overflow: hidden;
		}
		.key{
			line-height: 6rem;
			width: 25%;
			/* border: 1px solid red; */
			text-align: center;
			float: left;
		}
		.val{
			width: 75%;
			/* border: 1px solid #000000; */
			float: left;
			line-height: 6rem;
		}
		.val input{
			border: 0;
		}
		.add-btn{
			position: fixed;
			width: 100%;
			bottom: 0;
			text-align: center;
			background: #EE7900;
			color: #FFFFFF;
			line-height: 5rem;
		}
	</style>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a style="color: #000;" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">添加</h1>
		</header>
		<div class="mui-content">
		    <div class="info">
				<div class="key">
					标题
				</div>
				<div class="val">
					<input type="text" name="title" placeholder="请输入优惠券标题">
				</div>
			</div>
			<div class="info">
				<div class="key">
					抵用金额
				</div>
				<div class="val">
					<input type="text" name="offset" placeholder="抵用金额 (例子: 满50减5  填:5)" oninput="value=value.replace(/[^\d]/g,'')">
				</div>
			</div>
			<div class="info">
				<div class="key">
					劵类型
				</div>
				<div class="val">
					优惠券 <input checked="" type="radio" name="juan_type" value="1">&nbsp;&nbsp;
					现金劵 <input type="radio" name="juan_type" value="2" />
				</div>
			</div>
			<div class="info">
				<div class="key">
					状态
				</div>
				<div class="val">
					开启 <input checked="" type="radio" name="status" value="1">&nbsp;&nbsp;
					关闭 <input type="radio" name="status" value="2" />
				</div>
			</div>
			<div class="info tj">
				<div class="key">
					金额条件
				</div>
				<div class="val">
					<input type="text" name="prerequisite" placeholder="金额条件 (例子: 满50减5  填:50) ">
				</div>
			</div>
			
		</div>
		<div class="add-btn">添加</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init()
			document.addEventListener("plusready",function(){	
				
				var self = plus.webview.currentWebview(); 
				var token = window.localStorage.getItem('qztc');
				var gid = self.gid;
				mui("body").on("change","input[name=juan_type]",function(){
					
					if($(this).val() == 1){
						$(".tj").show();
					}else if($(this).val() == 2){
						$(".tj").hide();
					}
				})
				
				mui("body").on("tap",".add-btn",function(){
					plus.nativeUI.showWaiting();
					var title = $("input[name=title]").val();
					var offset = $("input[name=offset]").val();
					var juan_type = $("input[name=juan_type]:checked").val();
					var status = $("input[name=status]:checked").val();
					var prerequisite = $("input[name=prerequisite]").val();
					
				
					mui.ajax(APIPATH+'User/adddiscount',{
						data:{token:token,gid:gid,title:title,offset:offset,juan_type:juan_type,status:status,prerequisite:prerequisite},
						dataType:'json',//服务器返回json格式数据
						type:'post',//HTTP请求类型
						timeout:10000,//超时时间设置为10秒；
						// headers:{'Content-Type':'application/json'},	              
						success:function(data){
						if(data.status == '1'){
							plus.nativeUI.closeWaiting();
							mui.toast(data.msg); 
							setTimeout(function(){
								var prePage1 = plus.webview.getWebviewById("./me-goods-discount-add.html");
								prePage1.reload(true);
								var prePage2 = plus.webview.getWebviewById("./me-goods-discount.html");
								prePage2.reload(true);
							},500);
						}else{
							plus.nativeUI.closeWaiting();
							mui.toast(data.msg);
						}
						},
						error:function(xhr,type,errorThrown){
							//异常处理；
							console.log(type);
						}
					});
				})
				
				
			})
		</script>
	</body>

</html>