<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/public.css" rel="stylesheet">
		<link href="../../css/view-css/me/me-index.css" rel="stylesheet">
	</head>
	<style type="text/css">
		
	</style>
	<body>
		
		<header class="mui-bar mui-bar-nav">
			<a onclick="jump('me-setup.html')"><img style="margin-left:0.2rem;margin-top:0.5rem ;width: 1.3rem;height: 1.3rem;" src="../../img/setup.png"/></a>
		    <h1 class="mui-title">我的</h1>
		</header>
		<div class="mui-scroll-wrapper">
		<div class="mui-scroll">
		<div class="header_box"  onclick="jump('gerenxinxi.html')">
			<div class="img_box"><img style="" src="../../imgs/my_image.png"/></div>
			<div class="text" style="width: 70%;">
				<span>ML2655644</span>
				<!-- <p>会员等级：0</p>	 -->
			</div>
			<div class="icon_box">
				<span class="mui-icon mui-icon-arrowright"></span>
			</div>
		</div>
		<div class="me-detail">
			<div onclick="jump('me-guanzhu.html')">
				<span>关注</span>
				<p>0人</p>
			</div>
			<div>
				<span>可用余额</span>
				<p>0.00元</p>
			</div>
				<div>
				<span>普通用户</span>
				<p>开通会员</p> 
			</div>
		</div>
		<div class="me-indent">
			<a onclick="jump('me-dingdan.html')"><div class="tit">
				<span class="mui-icon mui-icon-arrowright mui-pull-right"></span>
				<span>我的订单（折扣商城）</span>
			</div>
			</a>
			<div class="nav_bar">
				<div type="2" class="item">
					<div><img src="../../imgs/my_icon1.png"/></div>
					<p>待付款</p>
				</div>
				<div type="3" class="item">
					<div><img src="../../imgs/my_icon2.png"/></div>
					<p>待发货</p>
					<!--<span class="mui-badge mui-badge-success">1</span>-->
				</div>
				<div type="4" class="item">
					<div><img src="../../imgs/my_icon3.png"/></div>
					<p>待收货</p>
				</div>
					<div type="5" class="item">
					<div><img src="../../imgs/my_icon4.png"/></div>
					<p>待评价</p>
					<!--<span class="mui-badge mui-badge-success">3</span>-->
				</div>
					<!-- <div type="8" class="item">
						<div><img src="../../imgs/my_icon5.png"/></div>
						<p>退款/售后</p>
					</div> -->
			</div>	
		</div>
		<div  class="jiugongge">
		<ul  class="mui-table-view mui-grid-view mui-grid-9">
		            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a onclick="jump('me-yaoqing.html')">
		                    <img src="../../imgs/my_icon6.png" alt="" />
		                    <div class="mui-media-body">邀请</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
		            	<a onclick="jump('me-qianbao.html')">
		                        <img class="imgs" src="../../imgs/my_icon7.png" />
		                    <div class="mui-media-body">钱包</div>
		            	</a>
		            </li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a  onclick="jump('me-jifen.html')">
		                       <img src="../../imgs/my_icon8.png" alt="" />
		                    <div class="mui-media-body">积分</div></a></li>
		        <!--    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="me-youhuiquan.html">
		                        <img src="../../imgs/my_icon9.png" alt="" />
		                    <div class="mui-media-body">我的优惠券</div></a></li> -->
		            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a onclick="jump('me-shoucang.html')">
		                        <img src="../../imgs/my_icon10.png" alt="" />
		                    <div class="mui-media-body">收藏</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a onclick="jump('me-shop-order.html')"> 
		                       <img src="../../imgs/kehu-dd.png" alt="" />
		                    <div class="mui-media-body">客户订单</div></a></li>
		           <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a onclick="jump('me-youhuiquan.html')">
		                        <img src="../../imgs/my_icon12.png" alt="" />
		                    <div class="mui-media-body">优惠券</div></a></li>
					<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a onclick="jump('pingtaiquan.html')">
					             <img src="../../imgs/my_icon12.png" alt="" />
					         <div class="mui-media-body">平台券</div></a></li> 
		            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a onclick="jump('me-server-order.html')" >
		                         <img src="../../imgs/server-dd.png" alt="" />
		                    <div class="mui-media-body">我的订单</div></a></li>
		           <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a onclick="jump('me-fabu.html')">
		                      <img src="../../imgs/my_icon14.png" alt="" />
		                    <div class="mui-media-body">发布</div></a></li>
		        </ul>
		</div>
		</div> 
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/public.js"></script>
		<script src="../../js/jquery.min.js"></script>
		<script type="text/javascript">
//		window.localStorage.removeItem('qztc');
		
		document.addEventListener("plusready",function(){		
			mui.init()
			mui('.mui-scroll-wrapper').scroll({
                    deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006 
			});
			var token = window.localStorage.getItem('qztc');
			plus.nativeUI.showWaiting(); 
			if(token){
				
				mui.ajax(APIPATH+'User/info',{
					data:{token:token},
					dataType:'json',//服务器返回json格式数据
					type:'get',//HTTP请求类型
					timeout:10000,//超时时间设置为10秒；
					// headers:{'Content-Type':'application/json'},	              
					success:function(data){
						if(data.status == '-2'){
							$(".jiugongge").hide();
							//token过期
							mui.confirm('您的帐号在别的设备上登录过','提示',['取消','去登录'],function(e){
								if(e.index == 1){
									//去登录
									window.localStorage.removeItem('qztc');
									//判断当前设备类型
									if(mui.os.ios || mui.os.ipad || mui.os.android) {
										// 获取当前webview窗口对象
										var curr = plus.webview.currentWebview();
										
										//获取所有已经打开的webview窗口
										var wvs = plus.webview.all();
										
										
										for(var i = 0, len = wvs.length; i < len; i++) {
										//关闭除当前页面外的其他页面
										if(wvs[i].getURL() == curr.getURL())
										
										//遇到当前页跳过
										continue;
										
										//非当前页执行关闭
										plus.webview.close(wvs[i]); 
										}
										//打开login页面
									  
										plus.webview.open('../../login.html');
										//执行关闭当前页面
										curr.close();
									} else{ 
									
										//runtime 运行环境管理模块执行退出 (一般运行不到这里)
										plus.runtime.quit();
									
									} 
								}else{
									$(".img_box").html('<img style="border: 1px solid #DDDDDD;width: 4rem;height: 4rem;border-radius: 3rem;" src="../../imgs/icon_jj.png"/>');
									$(".text").html('<a id="login" style="color: #000000;font-family: 微软雅黑;line-height: 3rem;margin-left: 4rem;">立即登录</a>');
									$(".header_box").removeAttr("onclick");
								}
							});
							plus.nativeUI.closeWaiting();
							
						}else{
							var datas = data.data;
							$(".text").html('<span>'+datas['nick']+'</span>');
						
						
							if(datas['vip'] == '1'){
								var viphh = '<span>尊贵会员</span><p>已开通</p>';
							}else if(datas['vip'] == '0'){
								var viphh = '<span>普通用户</span><p onclick="jump(\'tongchengvip.html\')">开通会员</p>';  
							} 
							
							$(".me-detail").html('<div onclick="jump(\'me-guanzhu.html\')">'+
													'<span>关注</span>'+
													'<p>'+datas['gz']+'人</p>'+
												'</div>'+
												'<div>'+
													'<span>可用余额</span>'+
													'<p>'+datas['wallet']+'元</p>'+
												'</div>'+
													'<div>'+
													viphh+
												'</div>');
							$(".img_box").html('<img style="border: 2px solid #999;width: 4rem;height: 4rem;border-radius: 3rem;" src="'+datas['avatar']+'"/>');
						
						plus.nativeUI.closeWaiting();
						}
					},
					error:function(xhr,type,errorThrown){
						//异常处理；
						console.log(type);
					}
				});
				
			
				
			}else{
				plus.nativeUI.closeWaiting();
				$(".img_box").html('<img style="border: 1px solid #DDDDDD;width: 4rem;height: 4rem;border-radius: 3rem;" src="../../imgs/icon_jj.png"/>');
				$(".text").html('<a id="login" style="color: #000000;font-family: 微软雅黑;line-height: 3rem;margin-left: 4rem;">立即登录</a>');
				$(".header_box").removeAttr("onclick");
				
			}
			
			mui('body').on('tap','#login',function(){
				//去登录
				window.localStorage.removeItem('qztc');
				//判断当前设备类型
				if(mui.os.ios || mui.os.ipad || mui.os.android) {
					// 获取当前webview窗口对象
					var curr = plus.webview.currentWebview();
					
					//获取所有已经打开的webview窗口
					var wvs = plus.webview.all();
					
					
					for(var i = 0, len = wvs.length; i < len; i++) {
					//关闭除当前页面外的其他页面
					if(wvs[i].getURL() == curr.getURL())
					
					//遇到当前页跳过
					continue;
					
					//非当前页执行关闭
					plus.webview.close(wvs[i]); 
					}
					//打开login页面
				  
					plus.webview.open('../../login.html');
					//执行关闭当前页面
					curr.close();
				} else{ 
				
					//runtime 运行环境管理模块执行退出 (一般运行不到这里)
					plus.runtime.quit();
				
				} 
				
			});
			mui('body').on('tap','.item',function(){
				var type = $(this).attr("type");
				mui.openWindow({
				    url: 'me-server-order.html',
				});
			});
			
		});
		</script>
	</body>

</html>