<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/public.css" rel="stylesheet">
	</head>
	<style type="text/css">
		.head-img img{
			width: 100%;
		}
		.mui-table-view-cell{
			font-size: 0.8rem;
		}
	</style>

	<body>
		<header class="header-bg mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">获取积分</h1>
		</header>
		<div class="mui-content">
			<div class="head-img">
				<img src="../../imgs/hqjf_banner.png"/>
			</div>
			<ul class="mui-table-view">
			        <li class="mui-table-view-cell">
			            邀请好友注册  +20 积分
			        </li>
			        <li class="mui-table-view-cell">
			            每天签到 +5 积分
			        </li>
							
			    </ul>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/public.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>