<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.picker.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/mui.poppicker.css"/>
	</head>
	<style type="text/css">
		body{
			background: #FFFFFF;
		}
		.shop_info{
			width: 100%;
			background: #FFFFFF;
		}
		.info-div{
			border-bottom: 1px dashed #DDDDDD;
			overflow: hidden;
		}
		.key{
			width: 25%;
			float: left;
			line-height: 5rem;
			text-align: center;
			color: #4A4A4A;
		}
		.val{
			width: 75%;
			float: left;
			line-height: 5rem;
			color: #4A4A4A;
		}
		.val-img {
			width: 100%;
			margin-left: 5%;
			margin-bottom: 10%;
		}
		input[type=text]{
			width: 95%;
			border: 0;	
		}
		.key-img{
			text-align: center;
			line-height: 3rem;
			border-bottom: 1px dashed #DDDDDD;
		}
		/* 封面图 */
		.fm-ts{
			width:10rem;
			height: 10rem;
			vertical-align: middle;
			margin-top: 1rem;
			margin-bottom: 1rem;
			margin-right: 2rem;
		}
		.fm-ys{
			display: none;
		}
		.fm-btn{
			color:#ACACAC;
			border-bottom: 1px solid #ACACAC;
		}
		
		.fm-ck{
			color:#ACACAC;
			border-bottom: 1px solid #ACACAC;
			margin-left: 1rem;
		}
		/* 详情图 */
		/* .xq-ts{
			width:10rem;
			height: 10rem;
			vertical-align: middle;
			margin-top: 1rem;
			margin-bottom: 1rem;
			margin-right: 2rem;
		} */
		.xq-img img{
			width:42%;
			height: 14rem;
			margin-right: 3%;
			margin-left: 1%;
			margin-bottom: 1%;
		}
		.xq-ys{
			display: none;
		}
		.xq-add-ys{
			display: none;
		}
		.xq-ck{
			width: 100%;
			text-align: center;
			color: #CCCCCC;
			line-height: 5rem;
		}
		/* 轮播图 */
		.lbt-img img{
			width:42%;
			height: 14rem;
			margin-right: 3%;
			margin-left: 1%;
			margin-bottom: 1%;
		}
		.lbt-ys{
			display: none;
		}
		.add-ys{
			display: none;
		}
		.lbt-ck{
			width: 100%;
			text-align: center;
			color: #CCCCCC;
			line-height: 5rem;
		}
		.top{
			width: 75%;
			float: left;
			line-height: 5rem;
			color: #4A4A4A;
		}
		.settle-month{
			width: 75%;
			float: left;
			line-height: 5rem;
			color: #4A4A4A;
		}
		.top-month{
			width: 75%;
			float: left;
			line-height: 5rem;
			color: #4A4A4A;
		}
		.like-month{
			width: 75%;
			float: left;
			line-height: 5rem;
			color: #4A4A4A;
		}
		#is-top{
			font-size: 1.5rem;
		}
		#top-month{
			font-size: 1.5rem;
		}
		#is-settle{
			font-size: 1.5rem;
		}
		#settle-month{
			font-size: 1.5rem;
		}
		#is-like{
			font-size: 1.5rem;
		}
		#like-month{
			font-size: 1.5rem;
		}
		.rent-money{
			width: 75%;
			float: left;
			line-height: 5rem;
			color: #4A4A4A;
		}
		#popover {
			width: 100%;
			/*	height:40rem;*/
			background: white;
			position: fixed;
			bottom: 0%;
			border-radius: 0;
			z-index: 1100;
		}
		/* 支付设置 */
		.title-fkfs{
			color: #4C4C4C;
			text-align: center;
			line-height: 5rem;
			border-bottom: 0.1rem solid #C6C6C6;
		}
		.Payment-type{
			margin-top: 2rem;
			color: #4C4C4C;
			position: relative;
		}
		.Payment-type img{
			width: 5rem;
			height: 5rem;
			margin-right: 2rem;
		}
		.remainingsum{
			margin-bottom: 3rem;
			margin-left: 2rem;
		}
		
		.remainingsum span{
			position: absolute;
			top: 1.5rem;
		}
		
		.remainingsum input{
			position: absolute;
			top: 1.8rem;
			right: 1.8rem;
		}
		
		.Alipay{
			margin-bottom: 3rem;
			margin-left: 2rem;
		}
		
		.Alipay span{
			position: absolute;
			top: 9.7rem;
		}
		
		.Alipay input{
			position: absolute;
			top: 10rem;
			right: 1.8rem;
		}
		
		.Wechat{
			margin-bottom: 3rem;
			margin-left: 2rem;
		}
		
		.Wechat span{
			position: absolute;
			top: 18rem;
		}
		
		.Wechat input{
			position: absolute;
			top: 18.3rem;
			right: 1.8rem;
		}
		.bt-fk {
			width: 90%;
			text-align: center;
			margin-bottom: 0.5rem;
		}
		.bt-fk button{
			width: 100%;
			background: #E8192D;
			color: #FFFFFF;
			border-radius: 0;
			border: 0;
			margin-left: 5%;
			line-height: 3rem;
		}
	</style>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a style="color: #000000;" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">编辑</h1>
			<span class="update" style="float: right; line-height: 4rem; color: #ACACAC;">保存</span>
		</header>
		<div class="mui-content">
			<div class="shop_info">
				<div class="info-div">
					<div class="key">
						标题
					</div>
					<div class="val title">
						<input type="text" name="title" value="">
					</div>
				</div>
				<div class="info-div">
					<div class="key">
						分类
					</div>
					<div class="val sort">
						
					</div>
				</div>
				<div class="info-div">
					<div class="key">
						二级分类
					</div>
					<div class="val zisort">
						
					</div>
				</div>
				<!-- 入驻 -->
				<!-- <div class="info-div">
					<div class="key">
						入驻
					</div>
					
					<div class="top">
						<select id="is-settle">
							<option value="-1">请选择是否入驻</option>
						</select>
					</div>
				</div> -->
				<div class="info-div">
					<div class="key">
						入驻月数
					</div>
					<div class="settle-month">
						<select id="settle-month" onchange="calculateMoneyChange()">
							<option value="-1">请选择入驻月数</option>
						</select>
					</div>
				</div>
				<!-- 置顶 -->
				<div class="info-div">
					<div class="key">
						置顶
					</div>
					
					<div class="top">
						<select id="is-top" onchange="calculateMoneyChange()">
							<option value="-1">请选择是否置顶</option>
						</select>
					</div>
				</div>
				<div class="info-div">
					<div class="key">
						置顶月数
					</div>
					<div class="top-month">
						<select id="top-month" onchange="calculateMoneyChange()">
							<option value="-1">请选择置顶月数 </option>
						</select>
					</div>
				</div>
				<!-- 置顶 -->
				<!-- 猜你喜欢 -->
				<div class="info-div">
					<div class="key">
						猜你喜欢
					</div>
					<div class="top">
						<select id="is-like" onchange="calculateMoneyChange()">
							<option value="-1">请选择是否置顶</option>
						</select>
					</div>
				</div>
				<div class="info-div">
					<div class="key">
						猜你喜欢月数
					</div>
					<div class="like-month">
						<select id="like-month" onchange="calculateMoneyChange()">
							<option value="-1">请选择是否置顶</option>
						</select>
					</div>
				</div>
				<div class="info-div">
					<div class="key">
						总金额
					</div>
					<div id="rent-money" class="rent-money">
						
					</div>
				</div>
				<!-- 猜你喜欢 -->
				<div class="info-div">
					<div class="key">
						区域
					</div>
					<div class="val area">
						<input type="text"  name="area" value="">
					</div>
				</div>
				<div class="info-div">
					<div class="key">
						详细地址
					</div>
					<div class="val address">
						<input type="text" name="address" value="">
					</div>
				</div>
				<div class="info-div">
					<div class="key">
						描述
					</div>
					<div class="val depict  ">
						<input type="text" name="depict" value="">
					</div>
				</div>
				<div class="info-div">
					<div  class="key">
						状态
					</div>
					<div class="val type">
						
					</div>
				</div>
				<div class="info-div">
					<div style="line-height: 12rem;" class="key">
						封面图
					</div>
					<div class="val fm-img">
						
					</div>
				</div>
				<div class="info-div">
					<div class="key-img">
						详情图
					</div>
					<div class="xq-ck">
						确定
					</div>
					<div class="val-img xq-img">
						
					</div>
				</div>
				<div class="info-div">
					<div class="key-img">
						轮播图 
					</div>
					<div class="lbt-ck">
						确定
					</div>
					<div class="val-img lbt-img">
						
					</div>
					
				</div>
			</div>
			
			<!--支付选择-->
			<div id="popover" class="mui-popover">
				<div class="title-fkfs">
					<span>选择付款方式</span>
			
				</div>
				<div class="Payment-type">
					<!--余额-->
					<div class="remainingsum">
						<img src="../../img/zfb.png" />
						<span>支付宝 </span>
						<input type="radio" checked name="payment" value="1" />
					</div>
					<!--支付宝-->
			
					<div class="Alipay">
						<img src="../../img/wx.png" />
						<span>微信</span>
						<input type="radio" name="payment" value="2" />
					</div>
			
					<!--微信-->
					<!-- <div class="Wechat">
						<img src="../../img/wx.png"/>
						<span>微信</span>
						<input type="radio" name="payment" value="3" />
					</div> -->
				</div>
				<div class="bt-fk">
					<button id="bt-fk">立即支付</button>
				</div>
			</div>
			
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/view-js/me/me-shopUp.js"></script> 
		<script src="../../js/mui.picker.js"></script>
		<script src="../../js/mui.poppicker.js"></script>
		<script src="../../js/city.data-3.js"></script>
		
		<script type="text/javascript">
			mui.init()
			document.addEventListener("plusready",function(){
			
				plus.nativeUI.showWaiting();
				var self = plus.webview.currentWebview();
				var shop_id = self.shop_id;
				var token = window.localStorage.getItem('qztc');
				
				mui.ajax(APIPATH+'user/get_serverShop',{
					data:{token:token,shop_id:shop_id},
					dataType:'json',//服务器返回json格式数据
					type:'post',//HTTP请求类型
					timeout:10000,//超时时间设置为10秒；
					// headers:{'Content-Type':'application/json'},	              
					success:function(data){
					var datas = data.data;
					// console.log('编辑：'+JSON.stringify(datas));
						$(".title input[type=text]").attr("value",datas.title);
						$(".sort").html(' - '+datas.sort_name+'<span style="color:#acacac;">（ 分类不可更改 ）</span>');
						$(".zisort").html(' - '+datas.zisort_name+'<span style="color:#acacac;">（ 分类不可更改 ）</span>');
						$(".area input[type=text]").attr("value",datas.area);
						$(".address input[type=text]").attr("value",datas.address);
						$(".depict input[type=text]").attr("value",datas.depict);
						if(datas.type == '1'){
							$(".type").html('<input type="radio" name="type" value="1" checked > 上架 &nbsp;&nbsp; |&nbsp;&nbsp; '+
											'<input type="radio" name="type" value="2"  > 下架');
						}else if(datas.type == '2'){
							$(".type").html('<input type="radio" name="type" value="1"  > 上架&nbsp;&nbsp; |&nbsp;&nbsp; '+
											'<input type="radio" name="type" value="2" checked > 下架');
						}
						 
						//封面图
						$(".fm-img").html('<img class="fm-ts" src="'+datas.fm_img_str+'" ></img>'+
						'<img class="fm-ys" val="'+datas.fm_img+'"  src="'+datas.fm_img_str+'">'+
						'<span class="fm-btn">更换</span>	<span class="fm-ck">确定</span>');
						//封面图 更换图片
						mui("body").on("tap",".fm-btn",function(){
							if (mui.os.plus) {
							var buttonTit = [{ 
								title: "拍照"
							}, {
								title: "从手机相册选择"
							}]; 
							 
							plus.nativeUI.actionSheet({
								title: "更换图片",
								cancel: "取消",
								buttons: buttonTit
							}, function(b) { /*actionSheet 按钮点击事件*/
								switch (b.index) {
									case 0:
										break;
									case 1:
										getImageUP("fm"); /*拍照*/
										
										break;
									case 2:
										galleryImgUP(1,"fm");/*打开相册*/ 
										
										break;
									default:
										break;
								}
							})
							} 
						})
						mui("body").on("tap",".fm-ck",function(){
								plus.nativeUI.showWaiting();
								if(!$(".fm-ys").attr("src")){
									plus.nativeUI.closeWaiting();
									mui.toast('请上传图片后在点击确定');
								}
								var base_fm = getBase64Image($(".fm-ys")[0]);
								dealImage({
									base64:base_fm,
									w:800,
									callback:function(base64){
										
											mui.ajax(APIPATH+'Enter/fm_img',{
												data:{fm_img:base64},
												dataType:'json',//服务器返回json格式数据
												type:'post',//HTTP请求类型
												timeout:10000,//超时时间设置为10秒；
												// headers:{'Content-Type':'application/json'},	              
												success:function(data){
												$(".fm-ys").attr("val",data.data);
												plus.nativeUI.closeWaiting();
												},
												error:function(xhr,type,errorThrown){
													//异常处理；
													console.log(type);
												}
											});
									}
								}); 
						})
						
						
						//详情图
						var xq_html = '';
						for(var i=0;i<datas.xq_img_str.length;i++){
							xq_html += '<img class="xq-ts" src="'+datas.xq_img_str[i]+'" ></img>'+
						'<img class="xq-ys" val="'+datas.xq_img[i]+'" src="'+datas.xq_img_str[i]+'">';
						}
						for(var i=0;i<3-datas.xq_img_str.length;i++){
							xq_html += '<img class="xq-ts" src="../../img/addimg.png">'+
									   '<img class="xq-ys" src="../../img/addimg.png">';
						}
						$(".xq-img").html(xq_html);
						// $(".xq-img").html('<img class="xq-ts" src="'+datas.xq_img_str+'" ></img>'+
						// '<img class="xq-ys" val="'+datas.xq_img+'" src="'+datas.xq_img_str+'">'+
						// '<span class="xq-btn">更换</span> <span class="xq-ck">确定</span>');
						//详情图 更换图片
						mui("body").on("tap",".xq-ts",function(){
							var ob = $(".xq-img .xq-ts").index(this);
							if (mui.os.plus) {
							var buttonTit = [{ 
								title: "拍照"
							}, {
								title: "从手机相册选择"
							}]; 
							
							plus.nativeUI.actionSheet({
								title: "更换图片",
								cancel: "取消",
								buttons: buttonTit
							}, function(b) { /*actionSheet 按钮点击事件*/
								switch (b.index) {
									case 0:
										break;
									case 1:
										getImageUP("xq",ob); /*拍照*/
										
										break;
									case 2:
										galleryImgUP(1,"xq",ob);/*打开相册*/ 
										
										break;
									default:
										break;
								}
							})
							} 
						})
						// //详情图 添加的
						// mui("body").on("tap",".xq-add-ts",function(){
						// 	var ob = $(".xq-img .xq-add-ts").index(this);
						// 	if (mui.os.plus) {
						// 	var buttonTit = [{ 
						// 		title: "拍照"
						// 	}, {
						// 		title: "从手机相册选择"
						// 	}]; 
							
						// 	plus.nativeUI.actionSheet({
						// 		title: "上传图片",
						// 		cancel: "取消",
						// 		buttons: buttonTit
						// 	}, function(b) { /*actionSheet 按钮点击事件*/
						// 		switch (b.index) {
						// 			case 0:
						// 				break;
						// 			case 1:
										
						// 				getImageUP("xqadd",ob); /*拍照*/
						// 				break;
						// 			case 2:
						// 				galleryImgUP(1,"xqadd",ob);/*打开相册*/ 
										
						// 				break;
						// 			default:
						// 				break;
						// 		}
						// 	})
						// 	} 
						// });
						mui("body").on("tap",".xq-ck",function(){
								plus.nativeUI.showWaiting();
								var xqarr = $(".xq-ys"); 
								var gh = $(".gh"); //谁更改过
								
								if(!gh.length){
									plus.nativeUI.closeWaiting();
									mui.toast('请上传图片后再点击确定');
								}else{
									for(i=0;i<gh.length;i++){
										var base_xq = getBase64Image(xqarr[gh.eq(i).attr("gh")]);
										var ob = gh.eq(i).attr("gh");
										dealImage({
											base64:base_xq,
											w:800,
											ob:ob,
											callback:function(base64,ob){
												mui.ajax(APIPATH+'Enter/xq_img',{
													data:{xq_img:base64},
													dataType:'json',//服务器返回json格式数据
													type:'post',//HTTP请求类型
													timeout:10000,//超时时间设置为10秒；
													// headers:{'Content-Type':'application/json'},	              
													success:function(data){
														// console.log('确定：'+JSON.stringify(data));
													$(".xq-ys").eq(ob).attr("val",data.data);
													
													plus.nativeUI.closeWaiting(); 
													},
													error:function(xhr,type,errorThrown){
														//异常处理；
														console.log(type);
													}
												});
											} 
										});
									}
								}
						}) 
						
						//轮播图
						var lbt = '';
						
						
						if(datas.lbt_img.length == '4'){
							//如果是4个的话 直接遍历上  
							for(i=0;i<datas.lbt_img.length;i++){
								lbt += '<img class="lbt-ts" src="'+datas['lbt_img_str'][i]+'">'+ 
									'<img class="lbt-ys" val="'+datas['lbt_img'][i]+'" src="'+datas['lbt_img_str'][i]+'">';
							}
							$(".lbt-img").html(lbt);
						}else{
							//如果不足四个的话就补充上传标志   
							var quecount = 4 - datas.lbt_img.length;
							//可以更换的
							for(i=0;i<datas.lbt_img.length;i++){
								lbt += '<img class="lbt-ts" src="'+datas['lbt_img_str'][i]+'">'+
									'<img class="lbt-ys"  val="'+datas['lbt_img'][i]+'" src="'+datas['lbt_img_str'][i]+'">';
							}
							//可以上传的
							for(i=0;i<quecount;i++){
								lbt += '<img class="lbt-ts" src="../../img/addimg.png">'+
									   '<img class="lbt-ys" src="../../img/addimg.png">';
							}
							$(".lbt-img").html(lbt);
						}
						//轮播图 更改的 
						mui("body").on("tap",".lbt-ts",function(){
							var ob = $(".lbt-img .lbt-ts").index(this);
							if (mui.os.plus) {
							var buttonTit = [{ 
								title: "拍照"
							}, {
								title: "从手机相册选择"
							}]; 
							
							plus.nativeUI.actionSheet({
								title: "更换图片",
								cancel: "取消",
								buttons: buttonTit
							}, function(b) { /*actionSheet 按钮点击事件*/
								switch (b.index) {
									case 0:
										break;
									case 1:
										
										getImageUP("lbt",ob); /*拍照*/
										break;
									case 2:
										galleryImgUP(1,"lbt",ob);/*打开相册*/ 
										
										break;
									default:
										break;
								}
							})
							} 
						})
						//轮播图 添加的 
						mui("body").on("tap",".add-ts",function(){
							var ob = $(".lbt-img .add-ts").index(this);
							if (mui.os.plus) {
							var buttonTit = [{ 
								title: "拍照"
							}, {
								title: "从手机相册选择"
							}]; 
							
							plus.nativeUI.actionSheet({
								title: "上传图片",
								cancel: "取消",
								buttons: buttonTit
							}, function(b) { /*actionSheet 按钮点击事件*/
								switch (b.index) {
									case 0:
										break;
									case 1:
										
										getImageUP("lbtadd",ob); /*拍照*/
										break;
									case 2:
										galleryImgUP(1,"lbtadd",ob);/*打开相册*/ 
										
										break;
									default:
										break;
								}
							})
							} 
						})
						
						mui("body").on("tap",".lbt-ck",function(){
							plus.nativeUI.showWaiting();
							var lbtarr = $(".lbt-ys"); 
							var gh = $(".gh"); //谁更改过
							if(!gh.length){
								plus.nativeUI.closeWaiting();
								mui.toast('请更换图片后再点击确定');
							}else{
								for(i=0;i<gh.length;i++){
									var base_lbt = getBase64Image(lbtarr[gh.eq(i).attr("gh")]);
									var ob = gh.eq(i).attr("gh");
									
									dealImage({
										base64:base_lbt,
										w:800,
										ob:ob,
										callback:function(base64,ob){
											
											
											mui.ajax(APIPATH+'Enter/lbt_img',{
												data:{lbt_img:base64},
												dataType:'json',//服务器返回json格式数据
												type:'post',//HTTP请求类型
												timeout:10000,//超时时间设置为10秒；
												// headers:{'Content-Type':'application/json'},	              
												success:function(data){
												$(".lbt-ys").eq(ob).attr("val",data.data);
												
												plus.nativeUI.closeWaiting(); 
												},
												error:function(xhr,type,errorThrown){
													//异常处理；
													console.log(type);
												}
											});
										} 
									});
								}
							}
					}) 
						//置顶
						var is_top = [{id:1,name:'是'},{id:0,name:'否'}];
						var is_top_html = '<option value ="-1">请选择</option>';
						for (i = 0; i < is_top.length; i++) {
							is_top_html += '<option value ="' + is_top[i]['id']+'">' + is_top[i]['name']+ '</option>';
						}
						$("#is-settle").html(is_top_html);
						$("#is-top").html(is_top_html);
						$("#is-like").html(is_top_html);
						
						var ruzhu_list = datas.ruzhu_list;
						var settle_html = '<option value ="0">请选择入驻月数</option>';
						for (i = 0; i < ruzhu_list.length; i++) {
							settle_html += '<option value ="' + ruzhu_list[i]['month'] + '" price="'+ruzhu_list[i]['price']+ '">' + ruzhu_list[i]['title']+ '('+ ruzhu_list[i]['price'] +')' + '</option>';
						}
						$("#settle-month").html(settle_html);
						var like_list = datas.like_list;
						var like_html = '<option value ="0">请选择猜你喜欢月数</option>';
						for (i = 0; i < like_list.length; i++) {
							like_html += '<option value ="' + like_list[i]['month']+ '" price="'+like_list[i]['price'] + '">' + like_list[i]['title'] + '('+ like_list[i]['price'] +')' + '</option>';
						}
						$("#like-month").html(like_html);
						var top_list = datas.top_list;
						var top_html = '<option value ="0">请选择置顶月数</option>';
						for (i = 0; i < top_list.length; i++) {
							top_html += '<option value ="' + top_list[i]['month'] + '" price="'+top_list[i]['price'] + '">' + top_list[i]['title'] + '('+ top_list[i]['price'] +')' + '</option>';
						}
						$("#top-month").html(top_html);
						//点击更改区域 三级联动
						mui("body").on("tap",".area",function(){
						
							var address = '';
							//显示几层，我们要显示省、市、区，所以我们这里写三层，如果不写默认是一层
							var addressPicker = new mui.PopPicker({
									layer: 3
							});
							addressPicker.setData(cityData3);
								
							addressPicker.show(function (selectItems) {
									//将选择的省、市、区显示到屏幕上
									for (var i = 0; i < selectItems.length; i++) {
											address += ' '+selectItems[i].text;
									}
									
									address = address.substr(1); //删除第一个字符
								 
									$(".area input[type=text]").attr("value",address);
							});
						})
						
						
						//保存
						mui("body").on("tap",".update",function(){
							plus.nativeUI.showWaiting();
							var title = $("input[name=title]").val();//标题
							var area = $("input[name=area]").val();//区域
							var address = $("input[name=address]").val();//详细地址
							var depict = $("input[name=depict]").val();//描述
							
							var type = $("input[name=type]:checked ").attr("value");//类型 1 上架 2 下架
							var base_fm_img = $(".fm-ys").attr("val");//封面图 base64
							// var base_xq_img = $(".xq-ys").attr("val");//详情图 base64
							// 详情图 base64
							var xq = $(".xq-ys");
							var xq_img = '';
							
							for(i=0;i<xq.length;i++){
								xq_img += ','+xq.eq(i).attr("val");
							}
							var base_xq_img = xq_img.substring(1); //详情图 base64
							
							// 轮播图 base64
							var lbt = $(".lbt-ys");
							var lbt_img = '';
							
							for(i=0;i<lbt.length;i++){
								lbt_img += ','+lbt.eq(i).attr("val");
							}
							var base_lbt_img = lbt_img.substring(1); //轮播图 base64
							
						
							var month = $('#settle-month option:selected').val();
							
							var is_top = $('#is-top option:selected').val();
							var top_month = $('#top-month option:selected').val();
	
							
							var is_like = $('#is-like option:selected').val();
							var like_month = $('#like-month option:selected').val();

							
							var rent = document.getElementById("rent-money");
							var total = rent.innerHTML;
							
							mui.ajax(APIPATH+'user/update_shop',{
								data:{
									token:token,
									shop_id:shop_id,
									title:title,
									area:area,
									address:address,
									depict:depict,
									type:type,
									fm_img:base_fm_img,
									xq_img:base_xq_img,
									lbt_img:base_lbt_img,
									
									month:month,
									
									is_top: is_top,
									top_month:top_month,
								
									is_like:is_like,
									like_month:like_month,

									total:total
								},
								dataType:'json',//服务器返回json格式数据
								type:'post',//HTTP请求类型
								timeout:10000,//超时时间设置为10秒；
								// headers:{'Content-Type':'application/json'},	              
								success:function(data){
									console.log('保存：'+JSON.stringify(data))
									if(data.status == '1'){
										mui.toast(data.msg);
										// setTimeout(function(){
										// 	var prePage1 = plus.webview.getWebviewById("./me-shopUp.html");
										// 	prePage1.reload(true);
										// 	var prePage2 = plus.webview.getWebviewById("./me-shop.html");
										// 	prePage2.reload(true);
										// },500);
										
										// 支付租金
										var rent = document.getElementById("rent-money");
										var money = rent.innerHTML;
										
										console.log('租金' + money)
										if (parseFloat(money) > 0) {
											mui.alert('入驻需要支付相应的租金', '温馨提示', function() {
												mui('#popover').popover("show");
											});
										}
									}else{
										mui.toast(data.msg);
									}
									plus.nativeUI.closeWaiting();
								},
								error:function(xhr,type,errorThrown){
									//异常处理；
									console.log(type);
								}
							});
							
						})
						
						plus.nativeUI.closeWaiting();
					},
					error:function(xhr,type,errorThrown){
						//异常处理；
						console.log(type);
					}
				});
			});
			// 立即支付
			mui("body").on('tap', '#bt-fk', function() {
				pay();
			});
			function pay() {
				var wxChannel = null; // 微信支付
				var aliChannel = null; // 支付宝支付
				var channel = null;
				// 获取支付通道
				plus.payment.getChannels(function(channels) {
					console.log('选择支付方式：' + JSON.stringify(channels))
					aliChannel = channels[0];
					wxChannel = channels[1];
				}, function(e) {
					mui.toast("获取支付通道失败：" + e.message);
				});
				// 支付方式
				var tcval = $("input[name=payment]:checked").val();
				console.log('支付方式:' + tcval);
				// 支付租金
				var rent = document.getElementById("rent-money");
				var totalprice = rent.innerHTML;
			
				var token = window.localStorage.getItem('qztc');
				
				mui.ajax(APIPATH + 'enter/enter_pay', {
					data: {
						token:token,
						type: tcval,
						money: totalprice
					},
					dataType: 'json', //服务器返回json格式数据
					type: 'post', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；
					// headers:{'Content-Type':'application/json'},
					success: function(data) {
						console.log('支付租金：' + JSON.stringify(data))
						if (data.status == 200) {
							var xmlres = data.data;
							var payChannel = aliChannel;
							if (tcval == 1) {
								xmlres = data.data;
								payChannel = aliChannel;
							} else if (tcval == 2) {
								xmlres = JSON.stringify(data.data);
								payChannel = wxChannel;
							}
			
							plus.payment.request(payChannel, xmlres, function(result) {
								plus.nativeUI.alert("支付成功！", function() {
									mui('#yezftc').popover("hide");
									window.localStorage.removeItem('order');
									plus.webview.close(plus.webview.currentWebview());
									mui.openWindow({
										url: '../shoppingCart/payment-success.html',
										extras: {
											"totalprice": totalprice
										}
									});
								});
							}, function(error) {
								console.log("支付没有成功" + JSON.stringify(error))
								mui.toast("支付没有成功");
							});
						} else {
							mui.toast('获取订单信息失败');
						}
						plus.nativeUI.closeWaiting();
					},
					error: function(xhr, type, errorThrown) {
						//异常处理；
						console.log('支付租金失败：' + JSON.stringify(xhr))
					}
				});
			}
			//计算总金额
			function calculateMoneyChange(){
				var settle_money = 0;
				var top_money = 0;
				var like_money = 0;
				// 入住
				var settle_sel = document.getElementById('settle-month');
				var settle_price = settle_sel.options[settle_sel.selectedIndex].getAttribute("price");//入驻月租金
				var settle_month = $('#settle-month option:selected').val();//入驻月租金
				if(settle_price == null){
					settle_price = 0;
				}
				settle_money = parseFloat(settle_price) ;
				// console.log('入住月租金:'+settle_price+'月数'+settle_month);
				
				var is_top = $('#is-top option:selected').val();//是否置顶
				var is_like = $('#is-like option:selected').val();//是否猜你喜欢
				// 置顶
				if(is_top == 1){
					var top_sel = document.getElementById('top-month');
					var top_price = top_sel.options[top_sel.selectedIndex].getAttribute("price");//入驻月租金
					var top_month = $('#top-month option:selected').val();//入驻月租金
					if(top_price == null){
						top_price = 0;
					}
					top_money = parseFloat(top_price) ;
					console.log('置顶月租金:'+top_price+'月数'+top_month);
				}
				// 猜你喜欢
				if(is_like == 1){
					var like_sel = document.getElementById('like-month');
					var like_price = like_sel.options[like_sel.selectedIndex].getAttribute("price");//入驻月租金
					var like_month = $('#like-month option:selected').val();//入驻月租金
					if(like_price == null){
						like_price = 0;
					}
					like_money = parseFloat(like_price);
					console.log('猜你喜欢月租金:'+like_price+'月数'+like_month);
				}
				var total = parseFloat(settle_money) + parseFloat(top_money) + parseFloat(like_money);
				
				$('.rent-money').html(total.toFixed(2));
				// var top_price = sel1.options[sel1.selectedIndex].getAttribute("top_price");//置顶月租金
				// var like_price = sel1.options[sel1.selectedIndex].getAttribute("like_price");//猜你喜欢月租金
			
				// console.log('入驻租金：'+price+'置顶租金：'+top_price+'猜你喜欢租金：'+like_price);
			
				// var settle_month = $('#settle-date option:selected').val();//入驻月数
				// var top_month = $('#top-month option:selected').val();//置顶月数
				// var like_month = $('#like-month option:selected').val();//入驻月数
			
				// console.log('入驻月数：'+ settle_month +'置顶月数：'+top_month+'猜你喜欢月数：'+like_month);
			
				// // var is_settle = $('#settle-date option:selected').val();//入驻月数
				// var is_top = $('#is-top option:selected').val();//是否置顶
				// var is_like = $('#is-like option:selected').val();//是否猜你喜欢
			
				// console.log('是否置顶：'+is_top+'是否猜你喜欢：'+ is_like);
			
			
					
				
			
				// if(is_top == 1){
				// 	top_money = parseFloat(top_price) * parseInt(top_month);
				// }
			
				// if(is_like == 1){
				// 	like_money = parseFloat(like_price) * parseInt(like_month);
				// }
			
				// console.log('入驻金额：'+ settle_money +'置顶金额：'+top_money+'猜你喜欢金额：'+like_money);
			
			}
		</script>
	</body>

</html>