<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/public.css" rel="stylesheet">
	</head>
	<style type="text/css">
		.content{
			padding: 0 0.75rem;
		}
		body{
			background: #FFFFFF;
		}
		.content .tit{
			padding: 0.8rem 0;
			font-size: 0.85rem;
			color: #232323;
			
		}
		ul li{
			font-size: 0.85rem;
		} 
			.mui-bar{
			background: #E8192D;
		}
		.mui-bar a{
			color: #FFFFFF;
		}
		.mui-bar h1{
			color: #FFFFFF;
		}
	</style>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">优惠大礼</h1>
		</header>
		<div class="content" style="margin-top: 2.6rem;">
			<p class="tit">开通会员领优惠大礼！</p>
			<ul>
				<li>1.开通钦州同城会员，可享受会员价优惠</li>
				<li>2.可免费领取20有优惠劵、20元现金券(满100元使用)</li>
			</ul>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/public.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>