<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/public.css" rel="stylesheet">
		<link href="../../css/view-css/home/chaoshishengxian.css" rel="stylesheet">
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">超市生鲜</h1>
		</header>
		<div class="mui-scroll-wrapper">
		    <div class="mui-scroll">
		    	<!--轮播图-->
				<div class="mui-slider">
				  <div class="mui-slider-group mui-slider-loop">
				    <!--支持循环，需要重复图片节点-->
				    <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="../../imgs/jsmr_banner.png" /></a></div>
				    <div class="mui-slider-item"><a href="#"><img src="../../imgs/jsmr_banner.png" /></a></div>
				    <div class="mui-slider-item"><a href="#"><img src="../../imgs/jsmr_banner.png" /></a></div>
				    <div class="mui-slider-item"><a href="#"><img src="../../imgs/jsmr_banner.png" /></a></div>
				    <div class="mui-slider-item"><a href="#"><img src="../../imgs/jsmr_banner.png" /></a></div>
				    <!--支持循环，需要重复图片节点-->
				    <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="../../imgs/jsmr_banner.png" /></a></div>
				  </div>
				    <div class="mui-slider-indicator">  
		                <div class="mui-indicator mui-active"></div>  
		                <div class="mui-indicator"></div>
		                <div class="mui-indicator"></div>  
		                <div class="mui-indicator"></div>  
		            </div>  
				</div>
				<!--九宫格-->
				 <ul class="mui-table-view mui-grid-view mui-grid-9">  
                        <li  
                            class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">  
                            <a onclick=""> 
                            	<img style="width: 2.5rem;" src="../../imgs/cssx_icon1.png" alt="" />
                                <div class="mui-media-body">实体超市</div>  
                        </a>  
                        </li>  
                        <li  
                            class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">  
                            <a href="#"><img style="width: 2.5rem;" src="../../imgs/cssx_icon2.png" alt="" />
                                <div class="mui-media-body">生鲜</div>  
                        </a>  
                        </li> 
                          <li  
                            class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">  
                            <a href="#"><img style="width: 2.5rem;" src="../../imgs/cssx_icon3.png" alt="" />
                                <div class="mui-media-body">水果蔬菜</div>  
                        </a>  
                        </li> 
                             <li  
                            class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">  
                            <a href="#"><img style="width: 2.5rem;" src="../../imgs/icon_rzfb.png" alt="" />
                                <div class="mui-media-body">入驻发布</div>  
                        </a>  
                        </li> 
				</ul>
				<!--热门-->
				<ul class="zuire">
					<li>
						<span class="col">同城</span>
						<span class="text">阳台用来晾衣服真浪费，我家这样设计，邻居我家这样设计，邻居</span>
					</li>
					<li>
						<span class="col">最热</span>
						<span class="text">阳台用来晾衣服真浪费，我家这样设计，邻居</span>
					</li>
				</ul>
							<!--特价商品-->
			<div class="commodity">
				<p class="title">特价商品</p>
				<ul class="commodity_ul">
					<li>
						<div class="corner">5.0折</div>
						<div style="text-align: center;"><img src="../../imgs/home_nrq_image9.png" alt="" /></div>
						<p>隔壁老王科比科比科比科比</p>
						<div class="price"><span class="col">￥12.00</span><span class="dz">￥34.20</span></div>
					</li>
					<li>
						<div class="corner">5.0折</div>
						<div style="text-align: center;"><img src="../../imgs/home_nrq_image7.png" alt="" /></div>
						<p>隔壁老王科比科科比科比科比科比科比科比科科比科科比科科比科比</p>
						<div class="price"><span class="col">￥15.56</span><span class="dz">￥20.38</span></div>
					</li>
					<li>
						<div class="corner">5.0折</div>
						<div style="text-align: center;"><img src="../../imgs/home_nrq_image7.png" alt="" /></div>
						<p>隔壁老王科比科科比科比科比科比科比科比科科比科科比科科比科比</p>
						<div class="price"><span class="col">￥15.56</span><span class="dz">￥20.38</span></div>
					</li>
					<li>
						<div class="corner">5.0折</div>
						<div style="text-align: center;"><img src="../../imgs/home_nrq_image7.png" alt="" /></div>
						<p>隔壁老王科比科科比科比科比科比科比科比科科比科科比科科比科比</p>
						<div class="price"><span class="col">￥15.56</span><span class="dz">￥20.38</span></div>
					</li>
				</ul>
				
			</div>
				<!--猜你喜欢-->
				<div class="like">
				<p>猜你喜欢</p>
				<ul class="like_item_box">
					<li>
						<div class="imgs_box"><img src="../../imgs/zysc_image5.png"/></div>
						<div class="detail">
							<h5>龙泉苑3室2厅1卫泉苑3室2厅1泉苑3室厅1</h5>
						
							<p class="price">￥2500元 </p>
							<p class="vip_box"><span>会员价</span><span>￥1400</span></p>
						
						</div>
					</li>
							<li>
						<div class="imgs_box"><img src="../../imgs/zysc_image5.png"/></div>
						<div class="detail">
							<h5>龙泉苑3室2厅1卫</h5>
							
							<p class="price">￥2500元</p>
							<p class="vip_box"><span>会员价</span><span>￥1400</span></p>
							
						</div>
					</li>
						<li>
						<div class="imgs_box"><img src="../../imgs/zysc_image5.png"/></div>
						<div class="detail">
							<h5>龙泉苑3室2厅1卫</h5>
							
							<p class="price">￥2500元</p>
							<p class="vip_box"><span>会员价</span><span>￥1400</span></p>
							
						</div>
					</li>
				</ul>
				
			</div>
				
				
		    </div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/public.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>