<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/public.css" rel="stylesheet">
		<link href="../../css/view-css/home/chongwu.css" rel="stylesheet">
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">宠物</h1>
		</header>
		<div class="mui-scroll-wrapper">
		    <div class="mui-scroll">
		    	<!--轮播图-->
				<div class="mui-slider">
				  <div class="mui-slider-group mui-slider-loop">
				    <!--支持循环，需要重复图片节点-->
				    <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="../../imgs/jsmr_banner.png" /></a></div>
				    <div class="mui-slider-item"><a href="#"><img src="../../imgs/jsmr_banner.png" /></a></div>
				    <div class="mui-slider-item"><a href="#"><img src="../../imgs/jsmr_banner.png" /></a></div>
				    <div class="mui-slider-item"><a href="#"><img src="../../imgs/jsmr_banner.png" /></a></div>
				    <div class="mui-slider-item"><a href="#"><img src="../../imgs/jsmr_banner.png" /></a></div>
				    <!--支持循环，需要重复图片节点-->
				    <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="../../imgs/jsmr_banner.png" /></a></div>
				  </div>
				    <div class="mui-slider-indicator">  
		                <div class="mui-indicator mui-active"></div>  
		                <div class="mui-indicator"></div>
		                <div class="mui-indicator"></div>  
		                <div class="mui-indicator"></div>  
		            </div>  
				</div>
				
				<!--九宫格-->
				 <ul class="mui-table-view mui-grid-view mui-grid-9">  
                        <li  
                            class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">  
                            <a onclick=""> 
                            	<img style="width: 2.5rem;" src="../../imgs/cw_icon1.png" alt="" />
                                <div class="mui-media-body">猫</div>  
                        </a>  
                        </li>  
                        <li  
                            class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">  
                            <a href="#"><img style="width: 2.5rem;" src="../../imgs/cw_icon2.png" alt="" />
                                <div class="mui-media-body">狗</div>  
                        </a>  
                        </li> 
                          <li  
                            class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">  
                            <a href="#"><img style="width: 2.5rem;" src="../../imgs/cw_icon3.png" alt="" />
                                <div class="mui-media-body">鱼</div>  
                        </a>  
                        </li> 
				</ul>
				<!--大家都在看-->
				 <div class="look">
				 	<p>大家都在看</p>
				 	<ul class="look_ul">
				 		<li>
				 			<div class="imgs"><img src="../../imgs/fczf_image6.png"/></div>
				 			<div class="font">
				 				<h5>泰迪</h5>
				 				<p class="price">￥1790元/只</p>
				 			</div>
				 		</li>
				 			<li>
				 			<div class="imgs"><img src="../../imgs/fczf_image6.png"/></div>
				 			<div class="font">
				 				<h5>南山金海岸业主急租</h5>
				 				<p class="price">￥1790元/只</p>
				 			</div>
				 		</li>
				 			<li>
				 			<div class="imgs"><img src="../../imgs/fczf_image6.png"/></div>
				 			<div class="font">
				 				<h5>南山金海岸业主急租</h5>
				 				<p class="price">￥1790元/只</p>
				 			</div>
				 		</li>
				 			<li>
				 			<div class="imgs"><img src="../../imgs/fczf_image6.png"/></div>
				 			<div class="font">
				 				<h5>南山金海岸业主急租</h5>
				 				<p class="price">￥1790元/只</p>
				 			</div>
				 		</li>
				 	</ul>
				 	
				 </div>
				 
				 <!--猜你喜欢-->
				<div class="like">
				<p>猜你喜欢</p>
				<ul class="like_item_box">
					<li>
						<div class="imgs_box"><img src="../../imgs/zysc_image5.png"/></div>
						<div class="detail">
							<h5>龙泉苑3室2厅1卫泉苑3室2厅1泉苑3室厅1</h5>
							<p class="price">￥2500元</p>
							<p class="vip_box"><span>会员价</span><span>￥1400</span></p>
						
						</div>
					</li>
							<li>
						<div class="imgs_box"><img src="../../imgs/zysc_image5.png"/></div>
						<div class="detail">
							<h5>龙泉苑3室2厅1卫</h5>
							<p class="price">￥2500元</p>
							<p class="vip_box"><span>会员价</span><span>￥1400</span></p>
							
						</div>
					</li>
							<li>
						<div class="imgs_box"><img src="../../imgs/zysc_image5.png"/></div>
						<div class="detail">
							<h5>龙泉苑3室2厅1卫</h5>
							<p class="price">￥2500元</p>
							<p class="vip_box"><span>会员价</span><span>￥1400</span></p>
							
						</div>
					</li>
				</ul>
				
			</div>
		    </div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/public.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>