<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/public.css" rel="stylesheet">
		<link href="../../css/view-css/home/falvfuwu.css" rel="stylesheet">
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">法律服务</h1>
		</header>
		<div class="mui-scroll-wrapper">
		    <div class="mui-scroll">
		    	<!--轮播图-->
				<div class="mui-slider">
				  <div class="mui-slider-group mui-slider-loop">
				    <!--支持循环，需要重复图片节点-->
				    <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="../../imgs/jsmr_banner.png" /></a></div>
				    <div class="mui-slider-item"><a href="#"><img src="../../imgs/jsmr_banner.png" /></a></div>
				    <div class="mui-slider-item"><a href="#"><img src="../../imgs/jsmr_banner.png" /></a></div>
				    <div class="mui-slider-item"><a href="#"><img src="../../imgs/jsmr_banner.png" /></a></div>
				    <div class="mui-slider-item"><a href="#"><img src="../../imgs/jsmr_banner.png" /></a></div>
				    <!--支持循环，需要重复图片节点-->
				    <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="../../imgs/jsmr_banner.png" /></a></div>
				  </div>
				    <div class="mui-slider-indicator">  
		                <div class="mui-indicator mui-active"></div>  
		                <div class="mui-indicator"></div>
		                <div class="mui-indicator"></div>  
		                <div class="mui-indicator"></div>  
		            </div>  
				</div>
							<!--九宫格-->
				 <ul class="mui-table-view mui-grid-view mui-grid-9">  
                        <li  
                            class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">  
                            <a onclick=""> 
                            	<img style="width: 2.5rem;" src="../../imgs/flfw_icon1.png" alt="" />
                                <div class="mui-media-body">法律咨询</div>  
                        </a>  
                        </li>  
                        <li  
                            class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">  
                            <a href="#"><img style="width: 2.5rem;" src="../../imgs/flfw_icon2.png" alt="" />
                                <div class="mui-media-body">律师事务所</div>  
                        </a>  
                        </li> 
                          <li  
                            class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">  
                            <a href="#"><img style="width: 2.5rem;" src="../../imgs/flfw_icon3.png" alt="" />
                                <div class="mui-media-body">找律师</div>  
                        </a>  
                        </li> 
				</ul>
						<!--热门-->
				<ul class="zuire">
					<li>
						<span class="col">同城</span>
						<span class="text">阳台用来晾衣服真浪费，我家这样设计，邻居我家这样设计，邻居</span>
					</li>
					<li>
						<span class="col">最热</span>
						<span class="text">阳台用来晾衣服真浪费，我家这样设计，邻居</span>
					</li>
				</ul>
				<!--推荐律师-->
				<div class="mui-slider" style=" padding-bottom: 1.5rem; margin-top: 0.4rem;background: #FFFFFF; ">
					  <div class="mui-slider-group">
					    <!--第一个内容区容器-->
					    <div class="mui-slider-item">
					      <p class="title">推荐律师</p>
					      <div class="tuijian_box">
					      	<div class="item">
					      		<div class="img_box">
					      			<img src="../../imgs/zysc_image1.png"/>
					      		</div>
					      		<div class="font">
					      			<div class="font-i">
					      				<p>debabyartikel</p>
					      				<p>海外旗舰店</p>
					      			</div>
					      			<span>样式丰富</span>
					      		</div>
					      	</div>
					      	   	<div class="item">
					      		<div class="img_box">
					      			<img src="../../imgs/zysc_image2.png"/>
					      		</div>
					      		<div class="font">
					      			<div class="font-i">
					      				<p>debabyartikel</p>
					      				<p>海外旗舰店</p>
					      			</div>
					      			<span>样式丰富</span>
					      		</div>
					      	</div>
					      	 	   	<div class="item">
					      		<div class="img_box">
					      			<img src="../../imgs/zysc_image3.png"/>
					      		</div>
					      		<div class="font">
					      			<div class="font-i">
					      				<p>卓诗尼旗舰店</p>
					      			</div>
					      			<span>样式丰富</span>
					      		</div>
					      	</div>
					      	 	   	<div class="item">
					      		<div class="img_box">
					      			<img src="../../imgs/zysc_image4.png"/>
					      		</div>
					      		<div class="font">
					      			<div class="font-i">
					 
					      				<p>灰姑娘鞋柜</p>
					      			</div>
					      			<span>样式丰富</span>
					      		</div>
					      	</div>
					      </div>
					    </div>
					    <!--第二个内容区-->
					    <div class="mui-slider-item">
					      <!-- 具体内容 -->
					      <p>ss</p>
					    </div>
					  </div>
					  	<div class="mui-slider-indicator">  
			                <div class="mui-indicator mui-active"></div>  
			                <div class="mui-indicator"></div>  
			            </div> 
					</div>
					<!--猜你喜欢-->
						<div class="like">
					<p>猜你喜欢</p>
					<ul class="like_item_box">
						<li>
							<div class="imgs_box"><img src="../../imgs/bmjz_image5.png"/></div>
							<div class="detail">
								<h5>聚卓越英语培训</h5>
								<p class="introduce"><span>龙岗-中心城</span></p>
							</div>
						</li>
								<li>
							<div class="imgs_box"><img src="../../imgs/bmjz_image5.png"/></div>
							<div class="detail">
								<h5>聚卓越英语培训</h5>
								<p class="introduce"><span>龙岗-中心城</span></p>
							</div>
						</li>
								<li>
							<div class="imgs_box"><img src="../../imgs/bmjz_image5.png"/></div>
							<div class="detail">
								<h5>聚卓越英语培训</h5>
								<p class="introduce"><span>龙岗-中心城</span></p>
							</div>
						</li>
					</ul>
					
				</div>
		    	
		    </div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/public.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>