<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/public.css" rel="stylesheet">
		<link href="../../css/view-css/home/ziyingshangcheng.css" rel="stylesheet">
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">折扣商城</h1>
		</header>
		<div style="margin-top: 2rem;" class="mui-scroll-wrapper">
	    	<div class="mui-scroll">
	    		<div class="mui-slider  mui-slider1">
	    			<div id="Top-img" class="mui-slider-group mui-slider-loop">
		    		<!--支持循环，需要重复图片节点-->
			    		<div  id="top"  class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="../../imgs/home_nrq_banner.png" /></a></div>
			    		<div id="img-lbt-1" class="mui-slider-item img-lbt"><a  href="#"><img src="../../imgs/home_nrq_banner.png" /></a></div>
			    		<div id="img-lbt-2" class="mui-slider-item img-lbt"><a  href="#"><img src="../../imgs/home_nrq_banner.png" /></a></div>
			    		<div id="img-lbt-3" class="mui-slider-item img-lbt"><a  href="#"><img src="../../imgs/home_nrq_banner.png" /></a></div>
			    		<div id="img-lbt-4" class="mui-slider-item img-lbt"><a  href="#"><img src="../../imgs/home_nrq_banner.png" /></a></div>
			    		<!--支持循环，需要重复图片节点-->
			    		<div id="out" class="mui-slider-item mui-slider-item-duplicate"><a  href="#"><img src="../../imgs/home_nrq_banner.png" /></a></div>
		  			</div>
					<div class="mui-slider-indicator">
						<div class="mui-indicator mui-active"></div>
						<div class="mui-indicator "></div>
						<div class="mui-indicator "></div>
					</div>
				</div> 
				<!--九宫格-->
			    <div id="Gallery" class="mui-slider">  
		            <div class="mui-slider-group">  
		                <div class="mui-slider-item">  
		                    <ul id="sort-one" class="mui-table-view mui-grid-view mui-grid-9">  
		                       
		                    </ul>  
		                </div>  
		                <div class="mui-slider-item">  
		                    <ul id="sort-two" class="mui-table-view mui-grid-view mui-grid-9">  
		                        
		                       	 
		                    </ul>  
		                </div>  
		            </div>
		            <div class="mui-slider-indicator">  
		                <div class="mui-indicator mui-active"></div>  
		                <div class="mui-indicator"></div>  
		            </div>  
		       	</div>
		       	<div class="content">
				    <ul class="zuire">
						<li class="tc">
						</li>
						<li class="zr">
						
						</li>
					</ul>
					<div class="mui-slider" style=" padding-bottom: 1.5rem; margin-top: 0.4rem;background: #FFFFFF; ">
					  <div class="mui-slider-group">
					    <!--第一个内容区容器-->
					    <div class="mui-slider-item">
					      <p class="title">商品推荐</p>
					      <div  class="tuijian_box tuijian-one">
					      	<div class="item">
					      		<div class="img_box">
					      			<img src="../../imgs/zysc_image1.png"/>
					      		</div>
					      		<div class="font">
					      			<div class="font-i">
					      				<p>debabyartikel</p>
					      				<p>海外旗舰店</p>
					      			</div>
					      			<span>样式丰富</span>
					      		</div>
					      	</div>
					      	   	<div class="item">
					      		<div class="img_box">
					      			<img src="../../imgs/zysc_image2.png"/>
					      		</div>
					      		<div class="font">
					      			<div class="font-i">
					      				<p>debabyartikel</p>
					      				<p>海外旗舰店</p>
					      			</div>
					      			<span>样式丰富</span>
					      		</div>
					      	</div>
					      	 	   	<div class="item">
					      		<div class="img_box">
					      			<img src="../../imgs/zysc_image3.png"/>
					      		</div>
					      		<div class="font">
					      			<div class="font-i">
					      				<p>卓诗尼旗舰店</p>
					      			</div>
					      			<span>样式丰富</span>
					      		</div>
					      	</div>
					      	 	   	<div class="item">
					      		<div class="img_box">
					      			<img src="../../imgs/zysc_image4.png"/>
					      		</div>
					      		<div class="font">
					      			<div class="font-i">
					 
					      				<p>灰姑娘鞋柜</p>
					      			</div>
					      			<span>样式丰富</span>
					      		</div>
					      	</div>
					      </div>
					    </div>
					    <!--第二个内容区-->
					    <div class="mui-slider-item">
					      <!-- 具体内容 -->
					      <p class="title">商品推荐</p>
					      <div class="tuijian_box tuijian-two">
					      	<div class="item">
					      		<div class="img_box">
					      			<img src="../../imgs/zysc_image1.png"/>
					      		</div>
					      		<div class="font">
					      			<div class="font-i">
					      				<p>debabyartikel</p>
					      				<p>海外旗舰店</p>
					      			</div>
					      			<span>样式丰富</span>
					      		</div>
					      	</div>
					      	   	<div class="item">
					      		<div class="img_box">
					      			<img src="../../imgs/zysc_image2.png"/>
					      		</div>
					      		<div class="font">
					      			<div class="font-i">
					      				<p>debabyartikel</p>
					      				<p>海外旗舰店</p>
					      			</div>
					      			<span>样式丰富</span>
					      		</div>
					      	</div>
					      	 	   	<div class="item">
					      		<div class="img_box">
					      			<img src="../../imgs/zysc_image3.png"/>
					      		</div>
					      		<div class="font">
					      			<div class="font-i">
					      				<p>卓诗尼旗舰店</p>
					      			</div>
					      			<span>样式丰富</span>
					      		</div>
					      	</div>
					      	 	   	<div class="item">
					      		<div class="img_box">
					      			<img src="../../imgs/zysc_image4.png"/>
					      		</div>
					      		<div class="font">
					      			<div class="font-i">
					 
					      				<p>灰姑娘鞋柜</p>
					      			</div>
					      			<span>样式丰富</span>
					      		</div>
					      	</div>
					      </div>
					    </div>
					  </div>
					  	<div class="mui-slider-indicator">  
			                <div class="mui-indicator mui-active"></div>  
			                <div class="mui-indicator"></div>  
			            </div> 
					</div>
				</div>
				<!--热卖商品-->
				<div class="hot">
					<p>热卖商品</p>
					<ul class="hot_ul">
						<li>
							<div class="imgs_box"><img src="../../imgs/home_nrq_image13.png"/></div>
							<p class="jieshao">山东美国大王鸽子400g/只冷冻新鲜肉</p>
							<p class="price"><span>￥27.00</span><span style="text-decoration:line-through">￥87.00</span></p>
							<p class="vip_box"><span>￥20.00</span><span class="btn">会员</span></p>
						</li>
						<li>
							<div class="imgs_box"><img src="../../imgs/home_nrq_image13.png"/></div>
							<p class="jieshao">山东美国大王鸽子400g/只冷冻新鲜肉</p>
							<p class="price"><span>￥27.00</span><span style="text-decoration:line-through">￥87.00</span></p>
							<p class="vip_box"><span>￥20.00</span><span class="btn">会员</span></p>
						</li>
						<li>
							<div class="imgs_box"><img src="../../imgs/home_nrq_image13.png"/></div>
							<p class="jieshao">山东美国大王鸽子400g/只冷冻新鲜肉</p>
							<p class="price"><span>￥27.00</span><span style="text-decoration:line-through">￥87.00</span></p>
							<p class="vip_box"><span>￥20.00</span><span class="btn">会员</span></p>
						</li>
						<li>
							<div class="imgs_box"><img src="../../imgs/home_nrq_image13.png"/></div>
							<p class="jieshao">山东美国大王鸽子400g/只冷冻新鲜肉</p>
							<p class="price"><span>￥27.00</span><span style="text-decoration:line-through">￥87.00</span></p>
							<p class="vip_box"><span>￥20.00</span><span class="btn">会员</span></p>
						</li>
					</ul>
					
				</div>
			 
			
	    		
	    	</div>
	    </div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/public.js"></script>
		<script src="../../js/jquery-1.11.3.js"></script>
		<script type="text/javascript">
			// mui.init()
			var gallery = mui('.mui-slider1');
				gallery.slider({ 
				  interval:1800//自动轮播周期，若为0则不自动播放，默认为0；
				}); 
			document.addEventListener("plusready",function(){ 
			  
				
				plus.nativeUI.showWaiting();

				mui.ajax(APIPATH+'Index/mallindex',{
					dataType:'json',//服务器返回json格式数据
					type:'post',//HTTP请求类型
					timeout:10000,//超时时间设置为10秒；
					// headers:{'Content-Type':'application/json'},	              
					success:function(data){
						console.log('自营商城服务分类：'+JSON.stringify(data))
						var datas = data.data;
						//头部轮播图
						var outnum = datas.toplbt.length - 1;	
						var num;
						for(i = 1;i < $(".img-lbt").length+1;i++){
						    num = i-1;
						    
							$("#img-lbt-"+i).html('<a onclick="jump(\'ziyingshangcheng-shangpingxiangqing.html?id='+datas.toplbt[num]['gid']+'\')"><img style="width:100%;height:12.4rem" src="'+datas.toplbt[num]['img']+'"></a>');
						}
						$("#top").html('<a onclick="jump(\'ziyingshangcheng-shangpingxiangqing.html?id='+datas.toplbt[0]['gid']+'\')" ><img style="width:100%;height:12.4rem" src="'+datas.toplbt[0]['img']+'"></a>');
						$("#out").html('<a onclick="jump(\'ziyingshangcheng-shangpingxiangqing.html?id='+datas.toplbt[outnum]['gid']+'\')" ><img style="width:100%;height:12.4rem" src="'+datas.toplbt[outnum]['img']+'"></a>');
						//分类
						var onehh = '';
						var twohh = '';
						for(i = 0;i < datas.sort.length;i++){
										
							if(i < 8){
								onehh += '<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">'+  
						                '<a onclick="jump(\'ziyingshangcheng-shangpingliebiao.html?id='+datas.sort[i]['id'] +'&type='+datas.sort[i]['nick']  +'\')" sortid="'+datas.sort[i]['id']+'"  >'+
						                	'<img style="width: 2.5rem;" src="'+datas.sort[i]['img']+'" />'+
						                    '<div class="mui-media-body">'+datas.sort[i]['nick']+'</div>'+  
						                '</a>'+  
						                '</li>';
						        
							}else{
								twohh += '<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">'+  
						                '<a href="ziyingshangcheng-shangpingliebiao.html?id='+datas.sort[i]['id']+'&type='+datas.sort[i]['nick']+'"   sortid="'+datas.sort[i]['id']+'" >'+
						                	'<img style="width: 2.5rem;" src="'+datas.sort[i]['img']+'" />'+
						                    '<div class="mui-media-body">'+datas.sort[i]['nick']+'</div>'+  
						                '</a>'+  
						                '</li>';
							}
						}
						
						$("#sort-one").html(onehh);
						$("#sort-two").html(twohh);
						
						//同城最热
						var tongchenghh =	'<span class="col">同城</span>'+
										'<span class="text">'+datas.remen[0]['title']+'</span>';
									   
						var zuirehh =  '<span class="col">最热</span>'+
									'<span class="text">'+datas.remen[1]['title']+'</span>';
						
						$(".tc").html(tongchenghh);
						$(".zr").html(zuirehh);
						
						
						//推荐
						var onetuijian = '';
						var twotuijian = '';
						for(i=0;i<datas.tuijian.length;i++){
							if(i < 4){
								onetuijian += '<div onclick="jump(\'ziyingshangcheng-shangpingxiangqing.html?id='+datas.tuijian[i]['id']+'\')"  class="item">'+
										      		'<div class="img_box">'+
										      			'<img src="'+datas.tuijian[i]['cover_img']+'"/>'+
										      		'</div>'+
										      		'<div class="font">'+
										      			'<div class="font-i">'+									      				
										      				'<p style="overflow: hidden;text-overflow: ellipsis;display: box;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;">'+datas.tuijian[i]['title']+'</p>'+
										      			'</div>'+	
										      		'</div>'+
										      	'</div>';
							}else{
								twotuijian += '<div class="item" onclick="jump(\'ziyingshangcheng-shangpingxiangqing.html?id='+datas.tuijian[i]['id']+'\')">'+
										      		'<div class="img_box">'+
										      			'<img src="'+datas.tuijian[i]['cover_img']+'"/>'+
										      		'</div>'+
										      		'<div class="font">'+
										      			'<div class="font-i">'+
										      				'<p style="overflow: hidden;text-overflow: ellipsis;display: box;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;">'+datas.tuijian[i]['title']+'</p>'+
										      			'</div>'+ 
										      			
										      		'</div>'+
										      	'</div>';
							}
						}
						$(".tuijian-one").html(onetuijian);
						$(".tuijian-two").html(twotuijian);	
						
						//热卖
						var remaihh = '';
						for(i=0;i<datas.remai.length;i++){
							remaihh += '<li onclick="jump(\'ziyingshangcheng-shangpingxiangqing.html?id='+datas.remai[i]['id']+'\')">'+
											'<div class="imgs_box"><img style="height:8rem" src="'+datas.remai[i]['cover_img']+'"/></div>'+
											'<p class="jieshao">'+datas.remai[i]['title']+'</p>'+
											'<p class="price"><span>￥'+datas.remai[i]['minprice']+'</span></p>'+
											'<p class="vip_box"><span>￥'+datas.remai[i]['vipprice']+'</span><span class="btn">会员</span></p>'+
										'</li>';
						}
						$(".hot_ul").html(remaihh);
						
						plus.nativeUI.closeWaiting();
					},
					error:function(xhr,type,errorThrown){
						//异常处理；
						console.log(type);
					}
				});
			});
		
		</script>
	</body>

</html>